body {
  /* background-image: url("assets/images/gradient-grid-background-small.png"); */
  background-image: url("/assets/images/pixel.png"), linear-gradient(to bottom, #305d55, #2d5c6b, #51336b, #6b3c5f);
  background-size: auto, 100vw 100vh;
  background-repeat: repeat, no-repeat;
  background-position: center center, center top;
  background-attachment: local, fixed;
}

.navbar {
  background-color: rgba(0,0,0,0.65) !important;
}

.block-soc {
  width: 150px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.block-soc > img {
  width:150px;
  height:auto;
  position: absolute;
  top: 20%;
  left: -50px;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-4 {
  opacity: 0.4;
}

.bg-twitch-purple {
  background-color: #6441a4;
}

.bg-yt-red {
  background-color: red;
}

.bg-twitter-blue {
  background-color: #1da1f2;
}

.bg-insta-pink {
  background-color: #d42b6a;
}